* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary);
}

:root {
  --primary: #111;
  --text-color: #fff;
}

:root.lightTheme {
  --primary: rgb(245, 242, 241);
  --text-color: rgb(50, 51, 53);
}
