/* banner */
.banner {
  background-image: url(./../images/banner.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  height: 448px;
  margin-bottom: 40px;
  position: relative;
}

.banner_contents::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 25px;
  background: linear-gradient(to bottom, #00000000, var(--primary));
}

.banner_contents {
  margin-left: 30px;
  padding-top: 190px;
  height: 190px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_btn {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.banner_btn button {
  width: 90px;
  height: 30px;
  color: white;
  background-color: #38383896;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: background-color 400ms, color 400ms;
}

.banner_btn button:hover {
  background-color: rgb(231, 231, 231);
  color: black;
  cursor: pointer;
}

.banner_description {
  line-height: 1.5;
  padding-top: 0.5rem;
  font-size: 1rem;
}

/* row */
.row {
  color: var(--text-color);
}

.row h2 {
  color: var(--text-color);
  margin-left: 25px;
  margin-top: 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  gap: 12px;
}

.row_poster_container {
  max-width: 167px;
  max-height: 250px;
  transition: transform 450ms;
  display: inline-block;
  flex-shrink: 0;
}

.row_poster_detail {
  position: relative;
  height: 80px;
  bottom: 120px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: flex-start;
  padding: 40px 10px 0 10px;
  color: white;
  opacity: 0;
  transition: opacity 450ms, transform 450ms;
}

.row_poster_title {
  font-size: 1.05rem;
  margin-bottom: 3px;
  font-weight: 600;
}

.row_poster_description {
  display: -webkit-box;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.row_poster {
  width: 100%;
  object-fit: cover;
  max-height: 100px;
  transition: transform 450ms;
  vertical-align: bottom;
}

.row_poster_large {
  max-height: 250px;
  width: 100%;
}

.row_poster_container:hover {
  transform: scale(1.1);
}

.row_posters > .row_poster:hover {
  transform: scale(1.1);
}

.row_poster_container:hover > .row_poster_detail {
  opacity: 1;
}

.row_posters::-webkit-scrollbar {
  display: none;
}
